<div class="container">

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="w-25">Número de mesa</th>
                <th scope="col" class="w-25">Capacidad</th>
                <th scope="col" class="w-25 text-center">Editar mesa</th>
                <th scope="col" class="w-25 text-center">Eliminar mesa</th>
            </tr>
        </thead>
        <tbody>
            @for(table of arrTables; track $index){
            <tr>
                <td scope="row">{{ table.num_table}}</td>
                <td>{{ table.capacity }}</td>
                <td class="text-center">
                    <button class="btn btn-primary btn-sm" (click)="editTable(table.id)"><i class="fas fa-pen"></i>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger btn-sm" (click)="deleteTable(table.id)"><i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary mb-3" (click)="onClick()">CREAR NUEVA MESA</button>

</div>