/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #a68358;
  --bg-color: #f2ebdf;
  --text: #f2ebdf;
  --hover-color: #403726;
}

body {
  background-color: var(--bg-color);
  color: var(--hover-color);
}

.btn-fantasia {
  background-color: var(--secondary-color);
  color: var(--text);

  &:hover {
    background-color: var(--hover-color);
    color: var(--text);
  }
}
