section {
  display: flex;

  height: 600px;
}

section div {
  padding: 10px;
  margin: 2em;
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s;
}

section div:hover {
  cursor: crosshair;
  width: 300px;
}
