<p>edit-menu works!</p>
<div class="container">
    <h2 class="my-5">Editar Menu</h2>


    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">

        <input type="hidden" formControlName="id" />

        <div class="form-floating mb-3">
            <select (change)="onChange($event)" class="filter-days" formControlName="day_of_week">
                <option value="">Día de la semana</option>
                @for (menu of arrMenus; track menu.id) {
                <option [value]="menu.id">{{menu.day_of_week}}</option>
                }
            </select>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputName" formControlName="name" autocomplete="off"
                placeholder="Titulo del menú" />
            <label for="inputName">Título</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputFirsts" formControlName="firsts" autocomplete="off"
                placeholder="Primer Plato" />
            <label for="inputFirsts">Primeros</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputSeconds" formControlName="seconds" autocomplete="off"
                placeholder="Segundo Plato" />
            <label for="inputSeconds">Segundos</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputDesserts" formControlName="desserts" autocomplete="off"
                placeholder="Postres" />
            <label for="inputDesserts">Postres</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="inputPrice" formControlName="price" autocomplete="off"
                placeholder="Postres" />
            <label for="inputPrice">Precio</label>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Menú</button>
    </form>
</div>