:root {
  --primary-color: #a68358;
  --bg-color: #f2ebdf;
  --text: #403726;
  --hover-color: #bfae99;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
}

img {
  caret-color: transparent;
}

.btn {
  background-color: var(--hover-color);
  color: var(--text);
  font-size: 1.2rem;

  &:hover {
    background-color: var(--primary-color);
    color: var(--text);
  }
}
