<button>MOSTRAR TODOS</button>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Primeros</th>
            <th>Segundos</th>
            <th>Postres</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @for(menu of arrMenus; track $index){


        <tr>
            <td>{{ menu.name }}</td>
            <td>{{ menu.firsts }}</td>
            <td>{{ menu.seconds }}</td>
            <td>{{ menu.desserts }}</td>
            <td>{{ menu.price }}</td>
        </tr>
        }
    </tbody>
</table>